@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página restrita";
}

<p>Usuário sem permissão de acesso a esta página, <a asp-controller="Home" asp-action="Index">clique aqui para voltar.</a> </p>